<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995918257203-44idf0vnva1f3q9i6er4rb0qlqsjkjqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995918257203-44idf0vnva1f3q9i6er4rb0qlqsjkjqo</string>
	<key>API_KEY</key>
	<string>AIzaSyBFE3zNBeHsQ0i81Gp2rhOGztg9jJSsn8c</string>
	<key>GCM_SENDER_ID</key>
	<string>995918257203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userApp</string>
	<key>PROJECT_ID</key>
	<string>user-app-fersilva362-1369</string>
	<key>STORAGE_BUCKET</key>
	<string>user-app-fersilva362-1369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995918257203:ios:8a15b35518068e156b1746</string>
</dict>
</plist>